*
{
    margin: 0;
    padding: 0;
}
.navbar-toggler img
{
    width: 35px;
}
.navbar
{
    padding-top: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
    padding: 0 !important;
}
.navbar-brand img
{
    width: 130px;
}
.nav-link
{
    color: black !important;
    font-weight: 700;
    margin-left: 30px;
}
.but
{
    border: 1px solid green;
    border-radius: 20px;
    background-image: linear-gradient(45deg,rgb(64, 235, 64) ,green);
    padding: 3px 12px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    

}
.down
{
    margin-top: 70px;
    margin-left: 30px;
}
.down h6{
    color:tomato;
}
.down h1
{
    width: 60%;
    font-weight: 700;
}
.down h1 span
{
    color: #21B573;

}
.down p
{
 width: 80%;
}
.down button
{
    border: 1px solid #21B573;
    background-image: linear-gradient(45deg, #21B573,green);
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
}
.feature-img
{
    width: 75%;
    margin-left: 20px;
}
.first
{
    background-color:#F0FFF0;
    background-size: cover;
    height: 450px;
}
.frst-dv img
{
    width: 66px;
    height: 85px;

}
.frst-dv
{
    border: 1px solid #F8FFFB;
    width: 270px;
    height: 270px;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    margin-left: 30px;
    background-color: #F8FFFB;
}
.second-dv
{
    box-shadow: 10px 10px 20px;
    background-color: white !important;
}
.frst-dv h2
{
    padding-top: 20px;
}
.second .huh
{
    display:flex;
    float: left;
    padding-top: 40px; 
    padding-left: 60px;
}
.second
{
    height: 450px;
    width: 100%;
    background-color: white;
    background-size: cover;
    border: 1px solid white;
}
.third-modify
{
    display: flex;
    float: left;
    position: relative;
    left: 61px;
    padding-top: 40px;
    
}
.mejaj h1
{
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}
.third-dv img
{
    width: 331px;
    height: 234px;
    padding-top: 20px;
}
.third-dv h3
{
    padding-top: 20px;
    font-size:x-large;
    color: #413960;
}
.third-dv button
{
    padding: 8px 28px;
    border-radius: 33px;
    color: white;
    background-color:  #21B573;
    border: 1px solid    #05f368;
}
.third-dv
{
    border: 1px solid white;
    border-radius: 18px;
    box-shadow: 10px 10px 20px;
    text-align: center;
    width: 370px;
    height: 480px;
    margin-left: 30px;
}
.third-dv  .logo
{
    width: 18px;
    height: 37px;
    margin-left: 30px;
}
.third-dv  .logo2
{
    width: 18px;
    height: 37px;
    margin-left: 50px;
}
.logo-text
{
    display: flex;
    float: left;
    padding-top: 20px;
}
.logo-text p
{
    padding-left: 10px;
    font-weight: 500;
    padding-top: 16px;
}
.mejaj
{
    background-color:white;
    height: 700px;
    background-size: cover;
}
.posit
{
    position: absolute;
}
.fourth
{
    width: 100%;
    height: 400px;
    
}
.fourth h1
{
    font-weight: bold;
    text-align: center;
}
.img-text img
{
    width: 250px;
    filter: drop-shadow(5px 5px 10px #555);
}
.img-text p
{
    width: 600px;
    padding-top: 80px;
}
.img-text
{
    display: flex;
    float: left;
    position: relative;
    left: 250px;
}
.final p
{
    width: 35%;
}
.final
{
    display: flex;
    float: left;
    color: white;
    padding-top: 50px;
    text-decoration: none;
    
}
.list{
    display: flex;
    float: left;
}
.finally
{
    width: 100%;
    height: 300px;
    background-color:  #282531;
}
.finally .rafi
{
    color: whitesmoke;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 20px;
    font-size: small;
    
}
.not-same
{
    margin-left: 60px;
}

.same
{
    margin-left: 130px;
    list-style-type: none;
}
@media only screen and (max-width:990px)
{
    .first
{
    background-color:#F0FFF0;
    background-size: cover;
    height: auto;
}
.feature-img
{
    padding-top: 30px;
    position: relative;
    left: 20px;
}
.text
{
    text-align: center;
    
}
.down h1
{
    width: 100%;
    
}

.down p
{
 width: 100%;
}
.down
{
    
    margin-left: 0;
}
.second .huh
{
    display:contents;
    
}
.second
{
    height: auto;
}
.frst-dv
{
    margin-top: 30px;
    position: relative;
    left: 30px ;
    
}
.third-modify
{
    display: contents;
    position: absolute;
       
}
.mejaj{
    height: auto;
}
.third-dv
{
    margin-top:30px;
    position: relative;
    left: 15px;
    padding-left: 0;
    margin-left: 0;
    
    
}
.img-text
{
    display: contents;
}
.fourth img
{
    position: relative;
    left: 85px;
    filter: drop-shadow(5px 5px 10px #555);
}
.fourth p
{
    width: 100%;
    text-align: center;
    padding-top: 0;
}
.fourth h1
{
    padding-top: 60px;
}
.fourth
{
    height: 550px;
    
}
.final
{
    display: contents;
}
.finally
{
    height: auto;
}
.final .not-same
{
    width: 75%;
    text-align: center;
   padding: 0;
   padding-top: 20px;
   margin-left: 45px;
  
}
.final .list
{
    display: flex;
    float: left;
   
}
.same
{
    margin-left: 22px;
    padding-top: 20px;
}
.finally
{
    width: 100%;
    height: 400px;
}

}